{% extends 'layout.html' %}

{% block title %}orm_abc_app:table{% endblock %}


{% block content %}
    <h5>orm_abc_app:table</h5>

    <table class="table table-bordered">
        <tbody style="border-top: 3.0px;">
        {% for row in row_lists %}
            <tr>
                {% for item in row %}
                    <td>
                        {{ item }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tbody>
    </table>
{% endblock %}
